.card {
    width: 450px;
    text-align: left;
    margin: 0 auto;
    border: 2px solid gray;
    transition: 200ms linear;
    border-radius: 10px;
}

.card:hover {
    border: 2px solid blue;
}

.cardImg {
    width: 450px;
    height: 400px;
    border-radius: 8px;
    margin-bottom: 8px;
}

.cardTitle {
    font-size: 21px;
    font-weight: 600;
    color: black;
    margin-bottom: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btnReadMore {
    font-size: 17px;
    font-weight: 500;
    color: rgb(95, 132, 169);
    font-family: 'Arial';
    transition: 200ms linear;
}

.btnReadMore:hover {
    color: red;
}